body{
    margin:auto;
}

.nav-wrapper{
    background-color: #4caf50;
    padding: 5px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    box-sizing: border-box;
}

.nav-list{
    list-style: none;
    padding: 0%;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    width: 100%;
}

.nav-list li{
    display: inline;
    margin: 0px;
}

.nav-list li a:hover {
    background-color: darkorange;
}
 
.nav-list li a:active {
    background-color: #4caf50;
}

.nav-list li a:visited {
    background-color: darkviolet;
}

.nav-item{
    color: aliceblue;
}

.form-container{
    background-color: #323232;
    width: 250px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: fixed;
    bottom: -218px;
    right: 0;
    transition: .5s;
}

.form-container:hover{
    bottom: 0;
}

#email-icon{
    width: 35px;
    float: left;
    margin-top: 5px;
    margin-left: 25px;
    opacity: 0;
}

.form-head-container{
    background-color: #4caf50;
    padding: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 15px;
    height: 35px;
}

.form-item{
    margin-left: 40px;
    color: white;
    padding-left: 0px;
}

#subject{
    height: 50px;
    width: 172px;
}

#fale-conosco{
    color: white;
    text-shadow: 2px 2px 10px #323232;
    margin-left: 0px;
    font-size: 22px;
    margin-top: 5.5px;
}

#submit-btn{
    background-color: #4caf50;
    border: none;
    padding: 7px 12px;
    margin: 9px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 100px;
}

#submit-btn:hover{
    background-color: darkorange;
}

#caption-1{
    position: absolute;
    top: 40%;
    left: 25%;
    font-size: 4vw;
    color: white;
    text-shadow: 2px 2px 10px #323232;
    animation-name: caption-fade;
    animation-duration: 2s;
}

@keyframes caption-fade{
    0% {opacity: 0; top: 0%}
    100% {opacity: 1; top: 40%}
}

.featured-wrapper{
    position: relative;
    display: flex;
    justify-content: space-around;
    overflow: auto;
}

#pop-cat{
    text-align: center;
}

.product-container{
    background-color: #4caf50;
    text-align: center;
    max-width: 20%;
    position: relative;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    margin-top: 8px;
    animation-name: product-container-anim;
    animation-duration: 2s;
    border-color: #4caf50;
}

@keyframes product-container-anim{
    0% {opacity: 0; margin-top: 500px}
    100% {opacity: 1; margin-top: 8px}
}

.product-container img{
    max-width: 100%;
    position: relative;
    top: 25px;
}

.category-text{
    font-size: 2vw;
    font-weight: bold;
    color: white;
    margin-top: 3%;
    margin-bottom: -3%;
    text-shadow: 2px 2px 10px #3232327e;
}

.btn-container{
    background-color: white;
    position: relative;
    top: 1;
    padding: 3%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.ver-mais-button{
    background-color: #4caf50;
    max-width: 100%;
    border: none;
    color : white;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 9px 18px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1vw;
}

.ver-mais-button:hover{
    background-color: darkorange;
}

#social-media-container{
    background-color: black;
    display: inline-block;
    position: fixed;
    right: 0;
    bottom: 50%;
}

#social-media-container:hover{
    cursor: pointer;
}

#facebook-icon-container{
    background-color: #395598;
    padding: 5px;
    transition: .5s;
}

#facebook-icon-container:hover{
    padding-left: 20%;
}

#instagram-icon-container{
    background-color: #eb4e6d;
    padding: 5px;
    transition: .5s;
}

#instagram-icon-container:hover{
    padding-left: 20%;
}

#whatsapp-icon-container{
    background-color: #25D366;
    padding: 5px;
    transition: .5s;
}

#whatsapp-icon-container:hover{
    padding-left: 20%;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1vw;
}